
</main>

<footer id="mainfooter">
    <!-- link naar home pagina pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
    <a href="" title="link naar de homepagina"><img src="../images/logo-licht.png" alt="IMGine logo"></a>
    <!-- link naar boven maken-------------------------------------------------------------------------------------------------------------------------------------------------->
    <a href="" title="terug naar boven"><i class="far fa-caret-square-up"></i></a>
    <p>Created by Jordi Maes and Hannelore Lamotte</p>
</footer>
</body>
</html>