<body>
<header id="mainheader">
    <div class="container">
        <a href="" title="link naar de homepagina" class="img"><img src="img/logo-licht.png" alt="IMGine logo"></a>    <!-- link naar home pagina pagina maken---------------------------------->
        <a href="upload/upload.php" title="upload hier jouw afbeelding!" class="upload hover">Upload</a>
        <a href="user.php" title="Log in!" class="user hover">User</a>
        <a href="user_settings.php" title="Log in!" class="settings hover">Settings</a>
        <a href="register.php" title="Registreer hier!" class="register hover"></a>

    </div>
</header>
<main class="container">

