<body>
    <header id="mainheader">
<!-- link naar home pagina pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <a href="" title="link naar de homepagina"><img src="../images/logo-licht.png" alt="IMGine logo"></a>
        
<!-- link naar upload pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="header-item">
            <a href="" title="link naar de upload pagina"><i class="fas fa-file-upload"></i>Upload</a>
        </div> <!-- header-item -->
        
<!-- link naar user pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="header-item">
            <a href="" title="link naar de user pagina"><i class="far fa-user"></i>[Username]</a>
        </div> <!-- header-item -->
            
<!-- link naar settings pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="header-item">
            <a href="" title="link naar de settings pagina"><i class="fas fa-cogs"></i>Settings</a>
        </div> <!-- header-item -->
               
<!-- link naar log out pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="header-item">
            <a href="" title="link naar de log out pagina"><i class="fas fa-power-off"></i>Log Out</a>
        </div> <!-- header-item -->

    </header>
    
    <nav id="mainnav">
        <ul class="list-unstyled">
<!-- link naar reset pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar de homepagina">
                <img src="../images/camera-blauw.png" alt="IMGine camera logo">
            </a></li>
<!-- link naar cat 1 pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar categorie 1">Category 1</a></li>
<!-- link naar cat 2 pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar categorie 2">Category 2</a></li>
<!-- link naar cat 3 pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar categorie 3">Category 3</a></li>
<!-- link naar cat 4 pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar categorie 4">Category 4</a></li>
<!-- link naar collections pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar collections">Collections</a></li>
<!-- link naar likes pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
            <li><a href="" title="link naar likes"><i class="far fa-heart"></i></a></li>
        </ul>
    </nav>
    
    <main></main>
    
    <footer id="mainfooter">
<!-- link naar home pagina pagina maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <a href="" title="link naar de homepagina"><img src="../images/logo-licht.png" alt="IMGine logo"></a>
<!-- link naar boven maken-------------------------------------------------------------------------------------------------------------------------------------------------->
        <a href="" title="terug naar boven"><i class="far fa-caret-square-up"></i></a>
        <p>Created by Jordi Maes and Hannelore Lamotte</p>
    </footer>
</body>