<nav id="mainnav">
    <ul>
        <li><a href="index.php" title="Reset de grid!"><span class="fas fa-undo"></span></a></li>            <!-- RESET -->
        <li><a href="#?id=@@tag_id@@" title="link naar categorie 1">Nature</a></li>    <!-- link naar cat 1 pagina maken------------------------------------------------------------------------->
        <li><a href="#?id=@@tag_id@@" title="link naar categorie 2">Human</a></li>    <!-- link naar cat 2 pagina maken------------------------------------------------------------------------->
        <li><a href="#?id=@@tag_id@@" title="link naar categorie 3">Objects</a></li>    <!-- link naar cat 3 pagina maken------------------------------------------------------------------------->
        <li><a href="#?id=@@tag_id@@" title="link naar categorie 4">Techniques</a></li>    <!-- link naar cat 4 pagina maken------------------------------------------------------------------------->
        <li><a href="#" title="link naar collections">Collections</a></li>    <!-- link naar collections pagina maken------------------------------------------------------------------>
        <li><a href="#" title="link naar likes"><span class="fas fa-heart"></span></a></li>    <!-- link naar likes pagina maken------------------------------------------------------------->
    </ul>
</nav>

<section class="masonry-grid">
    <div class="grid">